body
{
    background: rgb(20, 20, 20);
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50% 0 0 0;
    position: relative;
}


.wrapper
{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
}

.scroll-text
{
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear infinite;
}

h1, h2
{
    text-align: center;
}
.RHU
{
    size: 50px;
    color: aquamarine;
}


.music {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
}


@keyframes scroll{
    from { top: 0; transform: translateZ(0) rotateX(10deg) }
    to { top: -7500px; transform: translateZ(-2500px) rotateX(25deg) }
}
   
